@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

body {
	margin: 0;
	padding: 4rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: white;
	background-color: #263238;
}

.bar {
	fill: #ffee58;
}


